<div id="discord-modal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box mr-3 ml-3">
        <h3>にじ通へようこそ！</h3>
        <p>
          にじ通は、にじさんじライバーさんから公開される動画を事前に通知するアプリです。<br />
        </p>
        <p>
          (2025年4月25日)Discord版をリリースしました。<br />
          Discord版は歌みたの通知の他、特定キーワードの動画を通知する機能があります。<br />
          以下のリンクからDiscordサーバーに参加できますので、お気軽にご参加ください。<br />
          <a href="https://discord.gg/3UuUbDpnUG">https://discord.gg/3UuUbDpnUG</a><br />
        </p>
        <p>
          これに伴い、WEB版は年内にサービスを終了する予定です。<br />
          WEB版を既に使用いただいている方には申し訳ございません。<br />
          引き続き通知機能の使用希望の方はDiscord版へ移行お願いいたします。<br />
        </p>
        <button id="ok-discord" class="button is-primary">OK</button>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById("ok-discord").addEventListener("click", () => {
        console.log("click");
        document.getElementById("discord-modal").classList.remove("is-active");
      });
    
    })
  </script>