---
import Layout from "../layouts/Layout.astro";
import WelcomeDialog from "../components/WelcomeDialog.astro";
import IosWarningDialog from "../components/IosWarningDialog.astro";
import Info from "../components/Info.astro";
import Song from "../components/Song.astro";
import DeleteButton from "../components/DeleteButton.astro";
import Loader from "../components/Loader.astro";
import DiscordDialog from "../components/DiscordDialog.astro";
---

<script src="../scripts/load.js"></script>

<Layout>
  <h2>通知設定</h2>

  <WelcomeDialog />
  <IosWarningDialog />
  <DiscordDialog />

  <Loader />

  <Song />
  <Info />

  <div class="buttons mt-5">
    <DeleteButton />
  </div>
</Layout>
